body {
  background-color: #b72c94;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: red;
  background-color: blue;
}

img {
    display: block;
    margin: 0 auto;
}

.items {
  text-align: center;
  list-style: none;
}
div {
  color: yellow;
}
